## Feature Scaling
Feature Scaling is a technique of bringing down the values of all the independent features of our dataset on the same scale. Feature selection helps to do calculations in algorithms very quickly. It is the important stage of data preprocessing.
<figure>
    <center> <img src="https://miro.medium.com/max/1200/1*yR54MSI1jjnf2QeGtt57PA.png"  style="width:600px;height:400px;" ></center>
</figure>

## Outline
- [1 Project detail](#top_1)
- [&nbsp;&nbsp;1.1 Used Notations](#top_1.1)
- [&nbsp;&nbsp;1.2 Used Equations](#top_1.2)
- [2 Our Program](#top_2)
- [&nbsp;&nbsp;2.1 Import libraries](#top_2.1)
- [&nbsp;&nbsp;2.2 Load data](#top_2.2)
- [&nbsp;&nbsp;2.3 EDA](#top_2.3)
- [&nbsp;&nbsp;2.4 Compute cost function](#top_2.4)
- [&nbsp;&nbsp;2.5 Plot cost function](#top_2.5)
- [&nbsp;&nbsp;2.6 Plot data with fit line](#top_2.6)

<a name="top_1"></a>
# 1. Project detail
---------------
In this prject we want to scale features of our dataset to obtain a better result.

Let's get started

<a name="top_1.1"></a>
## 1.1 Notations used in this project
------------
Here is a summary of some of the notation you will encounter.  

|General <img width=70/> <br />  Notation  <img width=70/> | Description<img width=350/>| Python (if applicable) |
|: ------------|: ------------------------------------------------------------||
|  $\mathbf{x}$ | Training Example feature values (in this lab - 97 items))  | `x_train` |   
|  $\mathbf{y}$  | Training Example  targets (in this lab lab - 97 items).  | `y_train` 
| m | Number of training examples | `m`|
| n | Number of features          | `n`|
|  $w$  |  parameter: weight,                                 | `w`    |
|  $b$           |  parameter: bias                                           | `b`    |     
| $f_{w,b}(x^{(i)})$ | The result of the model evaluation at $x^{(i)}$ parameterized by $w,b$: $f_{w,b}(x^{(i)}) = wx^{(i)}+b$  | `f_wb`

<a name="top_1.2"></a>
## 1.2  Equations Used in this project
 
 
 
 
-----------------
We have several different feature scaling methods, but two of which is defined
### 1st type: Normalization

$$ X_{new}= \frac {X-X_{min}}{X_{max}-X_{min}} \tag{1}$$


### 2nd type: Standardizatiom 
$$ X_{new}= \frac {X-X_{mean}}{Standard Deviation} \tag{2}$$

<a name="top_2"></a>
# 2. Our Program
Here you can see the code to run this model

<a name="top_2.1"></a>
## 2.1 Import libraries

In [1]:
import pandas as pd

<a name="top_2.2"></a>
## 2.2 Load data

In [2]:
test_data = pd.read_csv('Feature_Scaling_test_data.csv')
train_data = pd.read_csv('Feature_Scaling_train_data.csv')
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [1]:
....

Ellipsis